@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #383838;
  font-family: Arial, sans-serif;
}

body p, body li, body h2, body h3, body center {
  background-color: #f5f5f5;
}

body,
html {
  overflow-y: auto;
  height: 100%;
}

.app {
  min-height: 100%;
}

h1,
h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #333;
}

.app__title {
  color: rgb(235, 235, 235);
  text-align: center;
  margin: 15px 0 15px 0;
  letter-spacing: 0.2ch;
}

.app__nav {
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.app__post-items {
  margin-top: 30px;
}

.app__nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

.app__nav a:hover {
  text-decoration: underline;
}

.img-container {
  max-width: 100%;
  margin-bottom: 30px;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.app__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  padding: 0 20px;
}

.posts-container {
  container-type: size; 
  width: 100%;
}

.posts-title {
  text-align: center;
  margin-bottom: 30px;
}

.post-items {
  display: grid;
  grid-template-columns: 4fr repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 30px;
}

.post-items-wrapper {
  overflow-y: auto;
  /* max-height: calc(100vh - 150px);  */
  max-height: 100vh;
}

.blog-post:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.blog-post {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

.blog-post:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translate(-10px, -10px);
  transition: all 0.5s;
  cursor: pointer;
}

.blog-post__title {
  font-size: 24px;
  margin-bottom: 15px;
  color: rgb(235, 235, 235);
  background-color: transparent;
}

.blog-post__summary {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.blog-post__link {
  color: #007bff;
  text-decoration: none;
}

.blog-post__link:hover {
  text-decoration: underline;
}

.account-details {
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
}

.account-details__title {
  text-align: center;
  margin-bottom: 30px;
}

@container (min-width: 900px) and (max-width: 1200px) {
  .post-items {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .blog-post:first-child {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .blog-post:not(.blog-post:first-child) {
    width: 100%;
  }

  .blog-post__title {
    font-size: 22px;
  }

  .blog-post__summary {
    font-size: 14px;
  }
}


/* Container queries */
@container (max-width: 939px) {
  .post-items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .blog-post:first-child {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .blog-post:not(.blog-post:first-child) {
    width: 100%;
  }

  .blog-post__title {
    font-size: 22px;
  }

  .blog-post__summary {
    font-size: 14px;
  }
}

@container (max-width: 653px) {
  .app__container {
    gap: 20px;
  }

  .img-container {
    margin-bottom: 20px;
  }

  .app__nav {
    margin-bottom: 20px;
  }

  .post-items {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .blog-post:first-child {
    grid-row: auto;
  }

  .blog-post:not(.blog-post:first-child) {
    width: 100%;
  }

  .blog-post__title {
    font-size: 20px;
  }

  .blog-post__summary {
    font-size: 14px;
  }
}

.blog-post-page {
  width: 100%;
  max-width: 800px;
  margin: 30px auto 0 auto;
  padding: 0 20px;
  background-color: #f5f5f5;
}

.blog-post-page__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.blog-post-page__author {
  font-size: 18px;
  color: #888;
  margin-bottom: 40px;
}

.blog-post-page__content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  word-break: break-word;
}

.blog-post-page__content p, .blog-post-page__content h4, .blog-post-page__content h5, .blog-post-page__content h6 {
  background-color: #f5f5f5;
}

.blog-post-page__content img {
  max-width: 100%;
  height: auto;
}

.blog-post-page__content a {
  color: #007bff;
  text-decoration: none;
}

.blog-post-page__content a:hover {
  text-decoration: underline;
}

@container (max-width: 768px) {
  .blog-post-page {
    padding: 0 10px;
  }

  .blog-post-page__title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .blog-post-page__author {
    margin-bottom: 30px;
  }
}

.hive-icon {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: -100;
}

/* Drop-down menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #686868;
  color: #f5f5f5;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.blogger-page {
  width: 100%;
  padding: 0 20px;
}

.blogger-page__title {
  text-align: center;
  font-size: 32px;
  color: rgb(235, 235, 235);
  margin: 15px 0;
  background-color: #383838;
}

.blogger-page__posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .blogger-page__title {
    font-size: 28px;
    margin: 20px 0;
  }

  .blogger-page__post-items {
    grid-gap: 20px;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #383838 #383838;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #383838;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
    border: 3px solid #383838;
  }