/* Add your custom styles here */

body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  nav {
    text-align: center;
  }
  
  .posts-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post-items {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    gap: 10px;
    justify-content: center;
  }
  
  .posts-title {
    text-align: center;
    margin-bottom: 0;
  }
  
  img {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 20px auto;
  }
  
  .sidebar {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-post-container {
    padding: 15px;
  }
  
  .blog-post-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .blog-post-author {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .blog-post-content {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
    .app-container {
      flex-direction: row;
    }
  
    .posts-container {
      flex: 1;
    }
  
    .sidebar {
      position: sticky;
      top: 20px;
      flex-basis: 300px;
      padding-left: 20px;
    }
  }
  