/* Add your custom styles here */

body {
    background-color: white;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

.post-items {
    width: clamp(200px, 40%, 800px);
    margin: 0 auto;
    display: flex;
}

.posts-title {
    text-align: center;
}

img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.img-container {
    width: clamp(200px, 40%, 800px);
    margin: 20px auto;
}

.sidebar {
    position: absolute;
    top: 100px;
    right: -225px;
}